<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="/static/utils.js"></script>
    <style>
        .container {
            border: 1px solid black;
            height: 400px;
            width: 400px;
        }
        .plot{
            /*display: inline-block; */
            margin: 10px 40px;
        }
        .block {
            display: inline-block;
        }
    </style>
</head>


<div class="containers">
    <!--
    <div class="plot">
        <div class="title">X - Z</div>
        <div id="container_xz"  style="height: 100px;" class="container"></div>
    </div>
    -->
    <div class="plot block">
        <div class="title">X - Y</div>
        <div id="container_xy" class="container"></div>
    </div>

    <div class="comments block">
        <textarea style="width: 400px; height: 400px;"></textarea>
    </div>



</div>


{% for line in report %}
    <p> {{ line['label'] }} {{ line['value']}} </p>
{% endfor %}
<hr>
<!--
{% for node in nodes %}
    <p> Node: {{ node.get_name() }} {{node.get_position()}} </p>
{% endfor %}
-->


<script src="/static/svg.js"></script>

<script>
    var node_size = {x:6, y: 6, z: 10};
    var uav_size = {x:16, y: 16, z: 5};
    var dimentions = {x: 400,  y: 400, z: 100};

    var uavs = {{uavs_data | safe}};
    var nodes ={{nodes_data | safe}};

    var dynamicData = {{dynamic_data | safe}};
    var traces = {{traces | safe}};

    var draw_xy = SVG('container_xy').size(dimentions.x, dimentions.y);



    // GRID
    var gridStep = 100;
    var gridScale = 5;
    drawGridXY(draw_xy, dimentions, gridStep);

    var radioRange = 200;

    // NODES
    function renderNodes(nodes){
        //draw_xy.clear();
        for(var nid = 0; nid < nodes.length; nid++){


            var node = nodes[nid];
            var nodePosition = node['position'];

            var signalLevel = node['snr'];

            //var nodeColor = levelToColor(signalLevel, 35, 50, rampColors());
            var nodeColor = '#ff2222';
            var node_xy = draw_xy.rect(node_size.x, node_size.y).attr({ fill: nodeColor });
            node_xy.move(nodePosition[0]/gridScale - node_size.x/2, nodePosition[1]/gridScale - node_size.y/2);

            var area_xy = draw_xy.circle(2 * radioRange/gridScale).attr({ fill: "rgba(0,255,0,0.05)" });
            area_xy.move((nodePosition[0] - radioRange)/gridScale, (nodePosition[1] - radioRange)/gridScale)

        }
    }


    // UAVs
    for(var uid = 0; uid < uavs.length; uid++){
        var uavPosition  = uavs[uid]['position'];

        var uav_xy = draw_xy.rect(15, 15).attr({ fill: '#f44' });
        uav_xy.animate().move(-uav_size.x/2,  -uav_size.y/2);


    }

    var gs = gridScale;
    var traceColors = ['#f99', '#f2f', '#99f'];
    // Traces
    for(var t=0; t < traces.length; t++){
        var trace = traces[t];
        var tColor = traceColors[t % traceColors.length];

        for(var p=0; p < trace.length - 1; p++){
            // draw trace
            var point = trace[p];
            var next = trace[p+1];
            draw_xy.line(point[0]/gs, point[1]/gs, next[0]/gs, next[1]/gs).stroke(
                    { width: 2, color: tColor }
            );
        }
    }


    var oldUavPos = [0, 0, 0];

    var turnPointSize = 12;

    var p_index = 0;
    function timeLoop() {
        setTimeout(function () {
            var gs = gridScale;
            var timePoint = dynamicData[p_index];
            var uavPos = timePoint.position;

            // draw turning point
            var uavTurn = draw_xy.circle(turnPointSize).attr({ fill: 'rgba(0,0,0,0)' }).stroke({width: 1, color: '#00f'});
            uavTurn.move(uavPos[0]/gs - turnPointSize/2, uavPos[1]/gs - turnPointSize/2 );
            // move UAV
            uav_xy.animate().move(uavPos[0]/gs - uav_size.x/2, uavPos[1]/gs - uav_size.y/2);
            // update previous position
            oldUavPos = uavPos;


            // NODES
            renderNodes(timePoint.nodes);

            p_index++;
            if (p_index < dynamicData.length) {
                timeLoop();
            }
        }, 1000)
    }

    timeLoop();



    function drawGridXY(container, dimentions, step){

        for(var x = 0; x < dimentions.x; x += step){
             container.line(x, 0, x, dimentions.y).stroke({ width: 1, color: '#ccc'});
        }

        for(var y = 0; y < dimentions.y; y += step){
             container.line(0, y, dimentions.x, y).stroke({ width: 1, color: '#ccc' });
        }
    }

</script>


</body>
</html>